/* 考虑到改动页面过多，在这里把btn-danger（红）的样式覆盖为 btn-primary（蓝），用btn-danger1变为红 */
  .btn-danger1 {
	background-color: #dd4b39;
	border-color: #d73925;
}

.btn-danger1:hover,
.btn-danger1:active,
.btn-danger1.hover {
	background-color: #d73925
}
  body .btn-danger{
  	    background-color: #3c8dbc;
    border-color: #367fa9;
  }
  body .btn-danger:hover,
	body .btn-danger:active,
	body .btn-danger.hover {
		background-color: #367fa9;
		border-color: #367fa9;
	}

/*弹框头部*/

/*left.iframe*/
.main-sidebar{
	height: 100%;
	overflow-y:auto;
}

/*筛选器 */
#font_span{
	font-size:14px;
	line-height:26px;
}


/*表格不换行样式*/
table td,table th{
	word-break: keep-all;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
	
}
table td:hover,table th:hover{
	word-break: keep-all;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
	
}
/*状态table第一列样式  */
.stu_table th:first-child{
	width:5%;
	text-align:center;
}

/*表格分页样式 */
.pagination{
	margin:13px 0px 0px 0px;
}
.pageleft{
	margin-top:15px
}

.table{
	margin-bottom:0px
}


.third_nav{
	width: 100%;
	height: 40px;
	background:#F7F7F7;
	border-bottom: 0px solid #d2d6de;
	font-size: 14px;
}
.third_nav>.navbar-nav>li>a{
	padding:5px 20px;
	color: #525252;
	cursor:pointer;
	border-radius:10px;
	
}
.third_nav>.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus{
	background: #D2D6DE;
	color: #000000;
}

.dropdown-menu>li>a{
	cursor:pointer;	
}
.nav>li.active>a{
	background: #e8e8e8;
	color: #000000;
}


.content-wrapper{
	font-size: 13px;
	color: #525252;
}
.box.box-default.box-solid > .box-header{
	height: 39px;
}
.box.box-default.box-solid > .box-header > .nav.nav-pills li {
	height: 39px;
	
}
.box.box-solid.box-default>.box-header a, .box.box-solid.box-default>.box-header .btn {
    color: #525252;
    padding: 8px 15px;
}
.form-inline .form-control{
	height: 25px;
    font-size: 12px;
    padding: 0px 12px;
}
.box-body .table-select-row{
	margin-bottom: 10px
}
.table-box{
	padding:10px 0;
	height:400px;
}
.sm-select{
	height:25px;
	padding:0px 12px;
}

.btn.btn-small,
.btn.btn-small{
	padding:3px 12px;
}
.dropdown-menu.four-menu li{
	font-size: 13px;	
}
.dropdown-menu.four-menu li a{
	padding: 5px 15px;
}
.control-label{
	font-weight: normal;
}

/*.table th{
	background:#efefef;
}*/

/*index.html*/

/*simple.html*/
#simple-box{
	margin-top: 15px;
}
.second-tree{

	height: 100%;
	overflow: hidden;
}


/*杈ㄦㄥ卞锟
 fixed.html
 layout-alarm.html
 find.html
 */
.layout-box{
	margin-top: 15px;
}
.layout-box-header{
	padding:0px 10px;
}
.modal-btn{
	padding: 0px 10px 0px 0px;
}
/*.table-hover > tr > td > a >i{
	color: #333333;
}*/
.content-wrapper > .content{
	    	margin-bottom: 0px;
			padding: 1%;
	    }
    	.expand{
    		display:none;
    	}
    	.status-box > .box-header{
    		padding: 0px;
    		/*background:none ;
    		border: none;*/
    	}
    	.nav-pills>li>a{
    		border-radius:2px;
    		background-color: #D2D6DE;
    		margin-right: 5px;
    		font-weight: bold;
    	}
    	
    	.box.box-solid.box-default>.box-header li.active a{
			color: #fff
		}
		.box.box-solid.box-default>.box-header li.active a:hover{
			color: #444;
			/*background-color: #3c8dbc;*/
		}
		.second-tree-style{
			margin-top: 8px;
			overflow: auto;
			white-space:nowrap;
			height: 86%;
			
		}
		.hide-box{
			height: 100%; 
			/* position:absolute; */
			margin:0% 0% 0% 1%; 
			padding: 0; 
			width: 14%;
		}
		.append-row{
			width: 100%; 
			margin: 0px; 
			padding: 0px;
		}
		.append-row > .box.box-default.box-solid{
			margin-bottom: 0; 
			padding: 0;
			padding-bottom: 10px;
		}
		.append-row > .box.box-default.box-solid > .box-body{
	/* 		height: 486px;  */
			
			overflow: hidden;
			height:100%;
		}
		 
		.append-row > .box.box-default.box-solid > .box-body> .table_row{
			height:90%;
		/* 	position:absolute; */
			overflow-x: hidden;
			overflow-y: auto;
			margin:5px 0px 0px 0px;
			padding:0px 0px;
			
		}
		
		.hide-box > .box.box-solid.box-default{
			margin-bottom: 0%;
		}
		.fa-folder-open{
			color: #F7BC60;
		}
    	
    	.td-status{
    		color: #468847;
    		font-weight: bold;
    	}
    	.td-span-green{
    		background-color: #3C9D3F;
    	}
    	.td-span-red{
    		background-color: #D54F4B;
    	}
    	.td-span-yellow{
    		background-color: #F4EC59;
    	}
    	.ta-span-orange{
    		background-color: #ECB94D;
    	}
    	.td-grey{
    		color: #A2AFC8;
    		font-weight: bold;
    	}
    	.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title{
    		font-size: 16px;
    		padding-top: 6px;
    		font-weight:normal;
    	}

/* layout-alarm.html*/
/*.append-row > .box.box-default.box-solid > .box-header > .nav.nav-pills > .dropdown > .dropdown-menu{
	background-color:#EEEEEE ;
}*/


/*data.html
 user-management.html*/
.manager-table>tbody>tr:hover>td {
    background-color: #A3D0EF;
}
.manager-table>tbody>tr:visited>td {
    background-color: #A3D0EF;
}

/*personal-data.html
 user-edit.html
 */
.box-button{
	padding: 10px 0px;
}

.header-padding{
	 padding-top: 5px;
   	 padding-bottom: 5px;
}
.header-nopadding{
	padding-top:0px;
   	padding-bottom:0px;
}



#breadcrumb {
		  list-style: none;
		  display: inline-block;
		  margin:0;
		  padding:0
		}
		#breadcrumb .icon {
		  font-size: 14px;
		}
		#breadcrumb li {
		  float: left;
		}
		#breadcrumb li a {
		  color: #525252;
		  display: block;
		  background: #f8f8f8;
		  text-decoration: none;
		  position: relative;
		  height: 26px;
		  line-height: 26px;
		  padding: 0 10px 0 5px;
		  text-align: center;
		  margin-right: 23px;
		}
		#breadcrumb li:nth-child(even) a {
		  background-color: #f8f8f8;
		}
		#breadcrumb li:nth-child(even) a:before {
		  border-color: #f8f8f8;
		  border-left-color: transparent;
		}
		#breadcrumb li:nth-child(even) a:after {
		  border-left-color: #f8f8f8;
		}
		#breadcrumb li:first-child a {
		  padding-left: 15px;
		  -webkit-border-radius: 4px 0 0 4px;
		  -moz-border-radius: 4px 0 0 4px;
		  -ms-border-radius: 4px 0 0 4px;
		  -o-border-radius: 4px 0 0 4px;
		  border-radius: 4px 0 0 4px;
		}
		#breadcrumb li:first-child a:before {
		  border: none;
		}
		#breadcrumb li:last-child a {
		  padding-right: 15px;
		  -webkit-border-radius: 0 4px 4px 0;
		  -moz-border-radius: 0 4px 4px 0;
		  -ms-border-radius: 0 4px 4px 0;
		  -o-border-radius: 0 4px 4px 0;
		  border-radius: 0 4px 4px 0;
		}
		#breadcrumb li:last-child a:after {
		  border: none;
		}
		#breadcrumb li a:before, #breadcrumb li a:after {
		  content: "";
		  position: absolute;
		  top: 0;
		  border: 0 solid #f8f8f8;
		  border-width: 13px 10px;
		  width: 0;
		  height: 0;
		}
		#breadcrumb li a:before {
		  left: -20px;
		  border-left-color: transparent;
		}
		#breadcrumb li a:after {
		  left: 100%;
		  border-color: transparent;
		  border-left-color: #f8f8f8;
		}
		#breadcrumb li a:hover {
		  background-color: #eeeeee;
		}
		#breadcrumb li a:hover:before {
		  border-color: #eeeeee;
		  border-left-color: transparent;
		}
		#breadcrumb li a:hover:after {
		  border-left-color: #eeeeee;
		}
		#breadcrumb li a:active {
		  background-color: #eeeeee;
		}
		#breadcrumb li a:active:before {
		  border-color: #eeeeee;
		  border-left-color: transparent;
		}
		#breadcrumb li a:active:after {
		  border-left-color: #eeeeee;
		}

